body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#gameName {
    color: #333;
    margin-top: 50px;
}

#connectionStatusLabel {
    color: #666;
    margin-top: 30px;
}

#connectionStatus {
    color: green;
    font-weight: bold;
}

/* Loading Animation */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 40px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}